In [1]:
import pandas as pd
import numpy as np

In [2]:
x = np.random.normal(size=100)

print(x)

[-0.95287002 -0.31017904 -0.16388791 -1.16626795  0.4838592  -2.48294988
 -0.03682451  0.01689933 -0.87285666  0.54222053  0.5739744   0.58355459
  1.67318628  0.58527652 -1.22402798 -0.00712218  0.61459254 -0.49050264
 -0.80870316  1.42839393 -0.90075025 -1.15675184 -0.46075657 -1.62653464
 -0.03457586 -0.95736331 -0.58720792 -0.4100664  -0.83175729  0.50493932
  0.68824796  0.72565948  0.24013893 -0.08347208  0.98013394 -0.48122924
  0.72348926 -0.70970355 -0.43954951 -0.23132649 -0.26021082 -0.55050514
 -1.02877873  0.25759372 -0.85499587 -0.68386414  0.63375366 -0.91864783
 -1.10047304 -0.40817123  1.19004241 -0.91306951  0.52107693  0.44632181
 -0.76166844 -0.04302331  0.09966393 -0.37004956 -0.20678575  1.21216748
 -0.29142795 -0.80132783 -2.18057496 -0.71071154  0.50901623  1.36223904
  0.74552402  1.67739743 -0.71162763 -0.24442575  0.10529762 -0.03207283
  0.56710227 -1.19423528  0.55011825  0.3748601   0.6465047   1.83790918
 -0.76431536  0.34915428  2.24734995 -1.29908116 -0.74480129  0.46629043
  0.14023887  0.96451922  0.60031563  0.20904952 -1.0498575   1.26206166
  1.01715189  1.3049064   0.22292773  1.4425522  -1.6935757  -0.33243077
 -0.69067044 -1.00343978  1.01765422  0.56348334]

In [3]:
df = pd.DataFrame(x)

In [4]:
df

           0
0  -0.952870
1  -0.310179
2  -0.163888
3  -1.166268
4   0.483859
..       ...
95 -0.332431
96 -0.690670
97 -1.003440
98  1.017654
99  0.563483

[100 rows x 1 columns]

In [5]:
compression_opts = dict(method='zip',
                        archive_name='out.csv')  
df.to_csv('out.zip', index=False,
          compression=compression_opts)

In [6]:
from pathlib import Path  
filepath = Path('folder/subfolder/out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)

In [7]:
import os  
os.makedirs('folder/subfolder', exist_ok=True)  
df.to_csv('folder/subfolder/out.csv')

In [9]:
data = pd.read_csv('out.csv')

In [10]:
data.mean()

0   -0.043632
dtype: float64

In [12]:
data.var()

0    0.812738
dtype: float64